<% unless @listings.empty? %>

    <% @listings.each do |list| %>
        <div id="listing">
            
            <h4><%= link_to list.title, list.link %></h4>
            <span id="deadline">Deadline: <%= list.deadline.strftime('%a %d %b %Y') %></span>
            <span id="organization"> <%= list.organization %> <span id="salary">$<%= number_with_delimiter(list.salary, :demiliter => ',') %></span></span>
            
            <p id="description"><%= list.description %></p>
            <p>Posted: <b><%= time_ago_in_words(list.created_at).titleize %> Ago</b></p>
        </div>
    <% end %>
<% else %>
    <h3>No Job Postings Found in <%= @category.title %></h3>
<% end %>