
<br/><br/>
<%= link_to "Create a new Job Post" %>
<%= form_for @category do |f| %>
    <table>
        <tr>
            <td><%= f.label :title %></td>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <td><%= f.submit %></td>
        </tr>
    </table>
<% end %>