<br/>
<%= render 'shared/search_category'%>
<div class="top">
    <%= render 'shared/sort_category'%>
    <%= render 'shared/city_category' %>
    <h2><%= @category.title %></h2>
</div>
<%= render 'shared/listings' %>