<!DOCTYPE html>
<html>
<head>
  <title>Gainxp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>
<!-- Do sort by deadline -->
  <%= bootstrap_flash %>
  
  <div class="container">
    <div class="row">
    
      <div class="col-md-3" id="left">
        <%= link_to((image_tag '/assets/logo2.png', :id => "logo"), root_path) %>
        
        <% if !@categories.nil? %>
          <div class="filters">
            <h4>Filters</h4>
            <%= render 'shared/categories' %>        
          </div>
        <% end %>
      </div>
      
      
      <div class="col-md-6" id="center">
        <%= yield %>
      </div>
      
      <div class="col-md-3" id="right">
        <h4>About us</h4>
        <p>GainXP.ca <em>is a pure job listings website for <b>young professionals.</b></p>
        <p id="about_postings">The postings are <b>agency-free,</b> <br/>
        a minimum starting salary of <b>$40,000</b> <br/>
        and <b>less than 5 years required experience</b>
        </p>
        
        </em>
      </div>
    </div>
  </div>
  <!---
  <%= link_to "Home", root_path %>
  
  
  <% if logged_in? %>
  
    Hello, <%= current_user.username %>!
    <%= link_to "Create Listing", new_listing_path%>
    <%= link_to "Create Category", new_category_path%>
    <%= link_to "Logout", logout_path, :method => :delete %>
    
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>
  
  
  --->
</body>
</html>
